<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main class="home">
      <h2>Bienvenid@!</h2>
      <h4>Si ya tienes cuenta ingreasa <a href="/users/login">aquí</a></h4>
      <h4>Si no la tienes ingreasa <a href="/users/register">aquí</a></h4>

    </main>
  </body>
</html>
