<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body style="background-color: #66d7d1;">
    <main>
        <h2>Hola <%= usuario.nombreUsuario %></h2>
        <h4>Elegiste el color: <%= usuario.colorSeleccionado %></h4>
        <h4>Tu email es: <%= usuario.emailUsuario %> </h4>
        <h4>Y tu edad es: <%= usuario.edadUsuario %> </h4>
    </main>
</body>
</html>